<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hisouten.mall.mapper.ProductMapper">
    <select id="pageQuery" resultType="cn.hisouten.mall.pojo.vo.category.CategoryListVO">
        select id,parent_id,name,level,sort,status,deleted
        from category
        <where>
            <if test="keyword != null and keyword != ''">
                and name like concat('%',#{keyword},'%')
            </if>
        </where>
        order by sort asc
    </select>
</mapper>