<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hisouten.mall.mapper.CartItemMapper">
    <select id="selectListByUserId" resultType="cn.hisouten.mall.pojo.bo.CartItemListBO">
        select
            c.id, c.product_id, c.sku_id, c.quantity, c.checked,
            p.name as productName,p.main_image as mainImage,p.status as productStatus,p.deleted as productDeleted,
            s.specs as skuSpecs,s.image as skuImage,s.price,s.stock,s.status as skuStatus,s.deleted as skuDeleted
        from cart_item c
        left join product p on c.product_id = p.id
        left join product_sku s on c.sku_id = s.id
        where c.user_id = #{userId}
        order by c.create_time desc
    </select>
</mapper>